@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
}

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  // background-image: url("../assets/background.jpeg");
  background-color: lighten(#cd1030, 40);
}

.case {
  border: 2px solid $secondary;
  border-radius: 20px;
  height: 667px;
  width: 375px;
}

.screen {
  border-radius: 20px;
  background-color: $display-screen-color;
}

.arrows_button {
  width: 144px;
  height: 144px;
  background: #000;
  .content {
    background: $buttons-gray;
    min-height: 36px;
    min-width: 128px;
    button {
      background: transparent;
      border: none;
    }
  }
}
